@use 'mixins/mixins';
@use 'progress';
@use 'common/var';
@use 'mixins/utils';
@use './upload-list';

@include mixins.b(upload) {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  outline: none;

  @include mixins.e(input) {
    display: none;
  }

  @include mixins.e(tip) {
    margin-top: 7px;
    font-size: 12px;
    color: var.$color-text-regular;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* 照片墙模式 */
  @include mixins.m(picture-card) {
    box-sizing: border-box;
    width: 148px;
    height: 148px;
    line-height: 146px;
    vertical-align: top;
    cursor: pointer;
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;

    i {
      font-size: 28px;
      color: #8c939d;
    }

    &:hover {
      color: var.$color-primary;
      border-color: var.$color-primary;
    }
  }

  &:focus {
    color: var.$color-primary;
    border-color: var.$color-primary;

    .el-upload-dragger {
      border-color: var.$color-primary;
    }
  }
}

@include mixins.b(upload-dragger) {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  height: 180px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;

  .el-icon-upload {
    margin: 40px 0 16px;
    font-size: 67px;
    line-height: 50px;
    color: var.$color-text-placeholder;
  }

  + .el-upload__tip {
    text-align: center;
  }

  ~ .el-upload__files {
    padding-top: 5px;
    margin-top: 7px;
    border-top: var.$border-base;
  }

  .el-upload__text {
    font-size: 14px;
    color: var.$color-text-regular;
    text-align: center;

    em {
      font-style: normal;
      color: var.$color-primary;
    }
  }

  &:hover {
    border-color: var.$color-primary;
  }

  @include mixins.when(dragover) {
    background-color: rgb(32 159 255 / 6%);
    border: 2px dashed var.$color-primary;
  }
}

@include mixins.b(upload-cover) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;

  @include utils.utils-vertical-center;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include mixins.e(label) {
    position: absolute;
    top: -6px;
    right: -15px;
    width: 40px;
    height: 24px;
    text-align: center;
    background: #13ce66;
    box-shadow: 0 0 1pc 1px rgb(0 0 0 / 20%);
    transform: rotate(45deg);

    i {
      margin-top: 11px;
      font-size: 12px;
      color: #fff;
      transform: rotate(-45deg);
    }
  }

  @include mixins.e(progress) {
    position: static;
    display: inline-block;
    width: 243px;
    vertical-align: middle;

    + .el-upload__inner {
      opacity: 0;
    }
  }

  @include mixins.e(content) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include mixins.e(interact) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(#000, 0.72);

      .btn {
        display: inline-block;
        margin-top: 60px;
        font-size: 14px;
        vertical-align: middle;
        color: var.$color-white;
        cursor: pointer;
        transition: var.$md-fade-transition;

        span {
          opacity: 0;
          transition: opacity 0.15s linear;
      }

      &:not(:first-child) {
        margin-left: 35px;
      }

      &:hover {
        transform: translateY(-13px);

        span {
          opacity: 1;
        }
      }

        i {
          display: block;
          margin: 0 auto 5px;
          font-size: 24px;
          line-height: inherit;
          color: var.$color-white;
        }
      }
  }

  @include mixins.e(title) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
    padding: 0 10px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: normal;
    line-height: 36px;
    color: var.$color-text-primary;
    text-align: left;
    white-space: nowrap;
    background-color: var.$color-white;
  }

  + .el-upload__inner {
    position: relative;
    z-index: 1;
    opacity: 0;
  }
}
