@use '../common/var';
@use '../mixins/mixins';
@use 'picker-panel.scss';

@include mixins.b(date-picker-v2) {
  width: 304px;

  &.has-sidebar.has-time {
    width: 416px;
  }

  &.has-sidebar {
    width: 420px;
  }

  &.has-time .el-picker-panel__body-wrapper {
    position: relative;
  }

  .el-picker-panel__content {
    width: 274px;
    margin-top: 4px;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  @include mixins.e(editor-wrap) {
    position: relative;
    display: table-cell;
    padding: 0 5px;
  }

  @include mixins.e(time-header) {
    position: relative;
    border-bottom: 1px solid var.$datepicker-inner-border-color;
    font-size: 12px;
    padding: 8px 5px 5px 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
  }

  @include mixins.e(header) {
    margin: 12px 12px 6px;
    text-align: center;

    @include mixins.m(bordered) {
      margin-bottom: 0;
      padding-bottom: 12px;
      border-bottom: solid 1px var.$border-color-lighter;

      & + .el-picker-panel__content {
        margin-top: 0;
      }
    }

    @include mixins.m(simple) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
    }
  }

  @include mixins.e(header-label) {
    font-size: 16px;
    font-weight: 500;
    padding: 0 5px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    color: var.$color-text-regular;

    &:hover {
      color: var.$datepicker-hover-font-color;
    }

    &.active {
      color: var.$datepicker-active-color;
    }
  }

  @include mixins.e(prev-btn) {
    float: left;
  }

  @include mixins.e(next-btn) {
    float: right;
  }

  @include mixins.e(time-wrap) {
    padding: 10px;
    text-align: center;
  }

  @include mixins.e(time-label) {
    float: left;
    cursor: pointer;
    line-height: 30px;
    margin-left: 10px;
  }

  @include mixins.e(header-controls) {
    display: flex;
    align-items: center;

    > * + * {
      margin-left: 8px;
    }
  }

  @include mixins.e(month-select) {
    min-width: 88px;
    max-width: 88px;
  }

  @include mixins.e(year-select) {
    min-width: 88px;
    max-width: 88px;
  }

  @include mixins.e(today-btn) {
    border: none;
    background: transparent;
    padding: 0;
    font-size: var.$font-size-base;
    color: var.$color-text-secondary;
    cursor: pointer;
    outline: none;

    &:hover {
      color: #007aff;
    }
  }
}

.el-date-picker-v2__select-dropdown .el-select-dropdown__wrap {
  max-height: 180px;
}
